doctype html
html
  head
    title Monster Slayer
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"> 
    <link href="https://fonts.googleapis.com/css?family=Nosifer" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../assets/css/battle.css">
    <script src="../assets/js/game.js"></script>
    
    
  body
    div(class="row" id="health_bars")
      div(class="col-lg-4")
        div(class="progress")
          div(class="progress-bar progress-bar-striped bg-success" id="player_health" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100")

        h1 Health #
      div(class="col-lg-4")
        h1 Round
      div(class="col-lg-4")
        div(class="progress")
          div(class="progress-bar progress-bar-striped bg-success" id="player_health" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100")

        h1 Health #

    div(class="row")
      div(class="col-lg-4" id="player_space")
        h2 Player 1
        h3 Player Picture

      div(class="col-lg-4" id="summary_space")
        h2 Round Info

      div(class="col-lg-4" id="monster_space")
        h2 Player 1
        h3 Player Picture


    div(class="row")
      div(class="col-lg-4" id="player_attack")
        button(id="attack") Attack!


      
    
          



    footer
      h4(class="my-5") Monster Slayer
      