doctype html
html
  head
    title Monster Slayer | Character Create
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"> 
    <link href="https://fonts.googleapis.com/css?family=Nosifer" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../assets/css/character.css">
    
    
  body
    div(class="container-fluid")
      h4(class="my-5") Monster Slayer
      
        