doctype html
html
  head
    title Monster Slayer
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
    link(href="https://fonts.googleapis.com/css?family=Nosifer", rel="stylesheet")
    link(rel="stylesheet", href="./assets/css/main.css")
    link(rel="stylesheet", href="./assets/css/start-game.css")
    

  body
    div.container-fluid
      h1.my-5.text-center Monster Slayer
      div.start-btn-area
        div.row
          div.col-sm-4
          div.col-sm-4.mt-5.text-center
            a(href="/character")
              img(src="/assets/images/start-axe-3.png")
          div.col-sm-4
        div.row
          div.col-sm-4
          div.col-sm-4.text-center
            button.btn.btn-sm(type="button") Game Tutorial
          div.col-sm-4