body {
	background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("https://img.etsystatic.com/il/308cfd/998470372/il_fullxfull.998470372_53g9.jpg?version=0") 
      no-repeat center center fixed;
	opacity: 1.00;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover; 
}

h4 {
    font-family: 'Nosifer', cursive;
    font-size: 24px;
    color: #cc0000;
    text-shadow: 10px 10px 3px black, 0 0 4px #999999, 0 0 2px #ffffb3;  
}

h1 {
	text-align: center;
	color: red;
}