
body {
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("/assets/images/ruins-pic.jpg") 
        no-repeat center top scroll;
    opacity: 1.00;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; 
    padding-top: 15px;
    zoom: 60%;
}
.main-content {
    padding-top: 200px;
}

h3 {
    color: white;
}
p, label {
    font-size: 1.5em;
    font-weight: 500;
}
.form-area {
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
}
select.option {
    height: 35px; 
}
#name-input, #strength-input, #vitality-input, #agility-input, .select {
    background-color: rgba(0, 0, 0, 0.3); 
    color: white;
    
}
#img-input, #name-input {
    font-size: 1.2em;     
}
.card {
    background-color: lightgrey;
    border-color: black;
    border-width: 3px;
}
.slayer {
    width: 125px;
    height: 140px;
}
#slayer-img-lg {
    width: auto;
    height: auto;
    -webkit-filter: drop-shadow(2px 2px 2px #e6e6e6);
    filter: drop-shadow(2px 2px 2px #e6e6e6);
}

#new-slayer-cfm, #trait-sum-modal, #slayer-error-modal, #battle-modal {
    padding-top: 10%;
    color: white;
}

.modal-header, .modal-title, .modal-footer {
    background-color: maroon;
    font-family: 'Nosifer', cursive;
    color: #cc0000;
    text-shadow: 4px 4px 4px black, 0 0 2px #999999, 0 0 2px #ffffb3;     
}
.modal-body, .modal-body-area {
  background-color: maroon;
  padding: 0;
}
td {
  color: white;
}
#new-slayer-cfm th {
  color: black;
  font-size: 23px;
  line-height: 70px; 
  margin-bottom: 15px;
} 
#trait-sum-modal th {
  color:white;
  font-size: 24px;
  line-height: 70px; 
} 