
h1 {
   font-family: 'Nosifer', cursive;
   font-size: 97px;
   color: maroon;
   text-shadow: 10px 10px 3px black, 0 0 4px #999999, 0 0 2px #ff4c4c;  
}

.btn, .btn-lg {
  background-color: white;
    font-family: 'Nosifer', cursive;
    font-size: 25px;
    line-height: 15px;
    color: maroon;
    text-shadow: 4px 4px 4px black, 0 0 2px #999999, 0 0 2px #ff4c4c;
}